* {
  margin: 0px;
  padding: 0px;
}

body {
  background: url(../images/christer_pettersson.jpg) no-repeat fixed center center;
  background-size: cover;
}

#conspiracy {
  background: url(../images/nine_elva.jpg) no-repeat fixed center center;
  background-size: cover;
}

#cooming-soon {
  position: fixed;
  top: 50%;
  width: 100%;
  font-family: 'Indie Flower', cursive;
  font-size: 64px;
  text-align: center;
  color: #fff;
  text-shadow: 2px 1px black;
}

#logo {
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
  margin: 10px 10px;
  color: #fff;
  text-align: left;
  text-shadow: 2px 1px black;
}

#bloke {
  display: inline-block;
  vertical-align: center;
  width: 35%;
  height: 40%;
  margin: 20px 90px;
}

#cheek {
  width: 100px;
  height: 100px;
  margin: 10px 10px;
  float: right;
}

#stalk {
  text-align: left;
  float: left;
  text-decoration: none;
  color: #fff;
}

#truth {
  vertical-align: center;
  position: fixed;
  margin-top: 8%;
  height: 50%;
  right: 10%;
  left: 10%;
  overflow-y: scroll;
  color: #fff;
}

::-webkit-scrollbar { 
    display: none; 
}

#link {
  font: "Neue Kabel";
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  width: 50%;
  text-align: center;
  position: relative;
  margin: 10px 10px;
  top: 20%;
  left: 50%;
  right: 50%;
}

#bottom {
  background: #000;
  height: 5%;
  width: 100%;
  position: fixed;
  bottom: 0;
}
